@font-face {
  font-family: PixelFont;
  src: url("./images/DePixelBreit.ttf");
}

body {
  background-color: cornsilk;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: PixelFont;
  margin: 0;
}

button {
  color: #fff;
  background-color: #a82a4e;
  font-family: PixelFont;
  font-size: 15px;
  border: 0;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
    0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
    inset 0px 5px #ffffff36;
  margin: 0 10px;
  padding: 5px 10px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 90vh;
}

#title {
  color: #4e342e;
  text-shadow: 4px 4px 0px rgb(223, 177, 189);
  margin: 10px 0;
  border-radius: 10%;
  text-align: center;
  height: 50px;
  font-size: 45px;
}

#color-palette {
  display: flex;
  justify-content: center;
}

.color {
  border: solid black 1px;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-left: 2px;
  margin-right: 2px;
}

#buttons-collector {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#exhibit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  overflow-x: hidden;
}

.painting {
  border: 12px #4E342E solid;
  width: 10rem;
  margin: 0 10px;
}

#pixel-board {
  border: groove #a07955 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  padding: 0;
  width: 632px;
  margin: 40px 20px 10px;
}

.pixel {
  height: 30px;
  width: 30px;
}

.selected {
  border: solid #a82a4e 5px;
}

footer {
  background-image: url("./images/wood.png");
  background-size: contain;
  background-position: 50%;
  border-top: 4px solid #DDC7AF;
  position: fixed;
  bottom: 0;
  margin: 0;
  height: 42px;
  width: 100vw;
}

@media screen and (max-width: 1150px) {
  #exhibit {
    justify-content: center;
  }

  .painting {
    display: none;
  }
}

/* @media screen and (max-width: 1150px) {
  
} */
