@font-face {
  font-family: PixelFont;
  src: url("./images/DePixelBreit.ttf");
}

body {
  background-color: beige;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: PixelFont;
  margin: 0;
  height: 100vh;
  /* width: 100vw; */
}

button {
  color: #fff;
  background-color: #a82a4e;
  font-family: PixelFont;
  font-size: 15px;
  border: 0;
  box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,
    0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
    inset 0px 5px #ffffff36;
  margin: 0 10px;
  padding: 5px 10px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#title {
  color: white;
  text-shadow: 4px 4px 0px rgb(168, 42, 78);
  margin: 10px 0 20px;
  border-radius: 10%;
  height: 50px;
  font-size: 50px;
}

#color-palette {
  display: flex;
  justify-content: center;
}

.color {
  border: solid black 1px;
  display: inline-block;
  height: 45px;
  width: 45px;
  margin-left: 2px;
  margin-right: 2px;
}

#buttons-collector {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#pixel-board {
  /* border: groove #A82A4E 15px; */
  box-shadow: 0px 5px tan, 0px -5px tan, 5px 0px tan, -5px 0px tan,
    0px 10px rgb(210, 180, 140, 0.2), 5px 5px rgb(210, 180, 140, 0.2),
    -5px 5px rgb(210, 180, 140, 0.2), inset 0px 5px rgb(210, 180, 140, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 692px;
  margin: 40px 10px 10px;
}

.pixel {
  height: 33px;
  width: 33px;
}

.selected {
  border: solid #a82a4e 5px;
}

/* @media screen and (max-width: 770px) {

} */
